The following questions reference the students data structure below.

How many types of each pet are there?
How many grades does each student have? Do they all have the same number of grades?

What is the average number of pets for students in web development?
What is the average pet age for students in data science?
What is most frequent coffee preference for data science students?
What is the least frequent coffee preference for web development students?
What is the average grade for students with at least 2 pets?
How many students have 3 pets?
What is the average grade for students with 0 pets?
What is the average grade for web development students? data science students?
What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?
What is the average number of pets for medium coffee drinkers?
What is the most common type of pet for web development students?
What is the average name length?
What is the highest pet age for light coffee drinkers?

In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

How many students are there?

In [14]:
len(students)

14

How many students prefer light coffee? For each type of coffee roast?

In [61]:
light_coffee_preference = 0
medium_coffee_preference = 0
dark_coffee_preference = 0
for len in range(len(students)):
    if students[len]["coffee_preference"] == "light":
        light_coffee_preference += 1
    elif students[len]["coffee_preference"] == "medium":
        medium_coffee_preference += 1
    else:
        dark_coffee_preference += 1
print(light_coffee_preference, "students prefer light.")
print(medium_coffee_preference, "students prefer medium.")
print(dark_coffee_preference, "students prefer dark.")

3 students prefer light.
6 students prefer medium.
5 students prefer dark.

How many types of each pet are there?

In [9]:
pet_list = []
for i in range(len(students)):
    for k in range(len(students[i]["pets"])):
        pet_list.append(students[i]["pets"][k]['species'])
print("Total number of different types of pets:", len(set(pet_list)))

Total number of different types of pets: 3

In [20]:
#What is each student's grade average?

for i in range(len(students)):
    print("Student:", students[i]["student"],
          "Grade Average:", round(sum(students[i]["grades"])/len(students[i]["grades"])))

Student: Ada Lovelace Grade Average: 78
Student: Thomas Bayes Grade Average: 84
Student: Marie Curie Grade Average: 73
Student: Grace Hopper Grade Average: 78
Student: Alan Turing Grade Average: 82
Student: Rosalind Franklin Grade Average: 81
Student: Elizabeth Blackwell Grade Average: 84
Student: Rene Descartes Grade Average: 89
Student: Ahmed Zewail Grade Average: 89
Student: Chien-Shiung Wu Grade Average: 82
Student: William Sanford Nye Grade Average: 82
Student: Carl Sagan Grade Average: 91
Student: Jane Goodall Grade Average: 79
Student: Richard Feynman Grade Average: 89

In [4]:
#How many pets does each student have?
for i in range(len(students)):
    if len(students[i]["pets"]) == 1:
        print(students[i]["student"], "has 1 pet")
    else:
        print(students[i]["student"], "has", len(students[i]["pets"]), "pets.")

Ada Lovelace has 1 pet
Thomas Bayes has 0 pets.
Marie Curie has 1 pet
Grace Hopper has 2 pets.
Alan Turing has 3 pets.
Rosalind Franklin has 0 pets.
Elizabeth Blackwell has 1 pet
Rene Descartes has 2 pets.
Ahmed Zewail has 2 pets.
Chien-Shiung Wu has 1 pet
William Sanford Nye has 2 pets.
Carl Sagan has 1 pet
Jane Goodall has 1 pet
Richard Feynman has 1 pet

In [3]:
#How many students are in web development? data science?
web_dev_count = 0
data_science_count = 0
some_other_count = 0

for i in range(len(students)):
    if students[i]["course"] == "web development":
        web_dev_count += 1
    elif students[i]["course"] == "data science":
        data_science_count += 1
    else:
        some_other_count += 1
        
print("Total Web Dev Students:", web_dev_count)
print("Total Data Science Students:", data_science_count)

Total Web Dev Students: 7
Total Data Science Students: 7

#Update tomorrow
for i in range(len(students)):
    if students[i]["course"] == "web development":
        web_dev_count += len(students[i]["pets"])
    elif students[i]["course"] == "data science":
        data_science_count += len(students[i]["pets"])
    else:
        some_other_count += 1